/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 body {
  background-color: #1F1F1F;
  font-family:AppleSDGothicNeo-UltraLight;
}

h1 {
  color:lightgrey;
  margin-left: 20px;
  font-family:AppleSDGothicNeo-UltraLight;
  text-align: center;
}
p {

  font-family:AppleSDGothicNeo-Thin;
  color:lightgrey;
}

.text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 999999;
  p {
    font-size: 24pt;

    margin-top: 400px;
    font-family:AppleSDGothicNeo-Regular ;
    color:#1F1F1F;
  }
}
