/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
    background-color: #333;
    font-family:AppleSDGothicNeo-UltraLight;
}

h1 {
    color:lightgrey;
    margin-left: 20px;
    font-family:AppleSDGothicNeo-UltraLight;
    text-align: center;
}
p {

    font-family:AppleSDGothicNeo-Thin;
    color:lightgrey;
}
.banner {
  background-image: url("../app/assets/images/Image4.jpg");
}
