<h1>AD Value</h1>

<p>A live and experiential communication agency,
100% owned by its management,
Settled in 3 international creative hubs: Paris, London and Brussels
Acting all over the world, from Beijing to Milano via New-York, Saint-Petersburg and Berlin...</p>

<h1>SINCE 1989</h1>

<p>For 20 years, we have been leading and innovating in designing the most extraordinary events for the most unbelievable brands; We deal with the most exciting projects and are proud to satisfy the most accurate expectations of our clients. This made us very professional, very conscientious, self-confident and excellent consultants in brand perception. Today we design and coach every kind of project, for every kind of business, at any scale: from splendid haute-couture fashion shows to tiny art exhibitions, from private events to bank’s corporate meetings, product launches, brand activation, sports competitions...</p>


<h1>More than just a convention center</h1>

<p>Because our work is to understand your brand and cope with the psychological levers required to reach your target.
Because we create more than just an event, but a memorable experience around a brand.
We set it to music for you.</p>

