 <!--<div class="banner-content">
 <h1>Welcome to AD Value</h1>
 <p>An Exclusive workplace and convention center, at your fingertips</p>
    </div>
  </div>
</div>#-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "Image4.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "Image9.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "Image8.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "Image7.JPG" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Profirst copyright</p>
      </div>
    </footer>
