
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F1F1F;
}
.navbar-main {
  background-color: #1F1F1F;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  align-items: center;
  padding: 20px;

}

.navbar-wagon-link {
margin-left: 20px;
}

.logo{




  float:left;
  a {
    color:black;
    font-family: "AppleSDGothicNeo-Thin", sans-serif;
    &:hover {
      color:white;
      text-decoration: none;

    }
  }
}

.logo img{
  width: 200px;
}

.navbar-right {
  float:left;
  a {
    color:lightgrey;
    font-family: "AppleSDGothicNeo-Thin", sans-serif;
    &:hover {
      color:white;
      text-decoration: none;

    }
  }
}

li a {
    font-family: "AppleSDGothicNeo-Thin", sans-serif;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      color:white;
      text-decoration: none;
  }
}

li a:hover {
}
